{% extends 'templates/base.twig' %}
{% block titulo %}Chat - Error{% endblock %}
{% block css %}
    <style>
        .container{
            margin-top: 50px;
        }
        .row{
            margin-bottom: 30px;
        }
    </style>
{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Lo sentimos, esta página no existe.</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="{{ base_url() }}" class="btn btn-lg btn-primary"><i class="fa fa-home"></i> Ir al inicio</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}