{% extends 'templates/base.twig' %}
{% block titulo %}Chat - No encontrado{% endblock %}
{% block css %}
    <style>
        .container{
            margin-top: 50px;
        }
    </style>
{% endblock %}
{% block contenido %}
    <div class="container">
        {% include 'templates/flash.twig' %}
        <a href="{{ base_url() }}" class="btn btn-default">Volver al inicio</a>

    </div>
{% endblock %}
{% block js %}
{% endblock %}