composer.phar
composer.lock
/vendor/*
/logs/*
!/logs/.gitkeep
/cache/*
!/cache/.gitkeep
!/public/avatar/preduser.png
!/public/avatar/sys.png
/public/avatar/b/
!/public/avatar/b/.gitkeep
/public/avatar/s/
!/public/avatar/s/.gitkeep

.idea
/server/.idea
/server/node_modules
/public/cache/client.json
/src/rao/Config/Chat.json
