composer.phar
composer.lock
/vendor/*
/logs/*
!/logs/.gitkeep
/cache/*
!/cache/.gitkeep
!/public/avatar/preduser.png
/public/avatar/b/
/public/avatar/s/
/public/smilies/
/public/achievements/
.idea
/server/.idea
/server/node_modules
/public/dist/js/core
/public/dist/js/components
/public/cache/client.json
