/* Body rules */
/* Navbar rules */
.navmenu-default .navmenu-text,
.navbar-default .navbar-offcanvas .navmenu-text {
    color: #FFF;
}

.navmenu-default .navmenu-brand:hover,
.navmenu-default .navbar-offcanvas .navmenu-brand:hover,
.navmenu-default .navmenu-brand:focus,
.navmenu-default .navbar-offcanvas .navmenu-brand:focus {
    color: #fff;
    background: rgba(0, 0, 0, 0.87);
}

.navmenu-default .navmenu-brand,
.navbar-default .navbar-offcanvas .navmenu-brand:hover {
    margin: 0;
    color: #FFF;
    background: rgba(0, 0, 0, 0.57);
}
.navmenu-default .navmenu-nav > .active > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus{
    background-color: rgba(0, 0, 0, 0.87);
    color: #FFF;
}
.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
    color: #FFF;
}
.navmenu-default .navmenu-nav > li > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.57);
}

.navmenu-default .navmenu-nav.dropdown-menu,
.navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.57);
}

.navmenu-default .navmenu-nav > .open > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .open > a,
.navmenu-default .navmenu-nav > .open > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .open > a:hover,
.navmenu-default .navmenu-nav > .open > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .open > a:focus {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.87);
}


.navmenu-default .navmenu-nav > .disabled > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .disabled > a,
.navmenu-default .navmenu-nav > .disabled > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .disabled > a:hover,
.navmenu-default .navmenu-nav > .disabled > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .disabled > a:focus {
    color: #FFF;
}

.navmenu.navmenu-default.navmenu-fixed-left ul.nav.navmenu-nav li {
    background: rgba(0,0,0,0.57);
}

.navmenu.navmenu-default.navmenu-fixed-left ul.nav.navmenu-nav li:hover{
    background: rgba(0,0,0,0.67);
}

.navmenu.navmenu-default.navmenu-fixed-left .dropdown-menu.navmenu-nav li:hover{
    background-color: inherit;
}

.navmenu.navmenu-default.navmenu-fixed-left h3.navbar-text{
    float: none;
    margin: 0;
    padding: 15px;
    color: #FFF;
    background: rgba(0,0,0,0.57);
}
/* Custom rules */
#mainContainer{
    padding-right: 0;
}
.chatbox {
    margin: 1em 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    word-wrap: break-word;
    padding-right: 15px;
}
.comentario {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.1);
}
.avatar img{
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
.smilie img{
    vertical-align: text-top;
    max-height: 120px;
    max-width: 320px;
}
.contenido{
    position: relative;
    margin-left: 45px;
}
.autor > .info,
.autor > .text-muted{
    color: rgba(0,0,0,.54);
}

#messageBox{
    margin-bottom: 5px;
    margin-right: 15px;
    opacity: 0.9;
}

ul.nav.navmenu-nav{
    font-size: 12pt;
}

.onlineUser img {
    height: 20px;
    width: 20px;
}

.fa-separator {
    border-right: 1px solid #e3f2fd;
    padding-right: 5px;
}

#userPreview img{
    display: block;
    margin: 10px auto;
    width: 80px;
    height: 80px;
}

.swal2-content img{
    max-height: 180px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 480px){
    .text-time{
        width: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
@media only screen and (min-width: 481px) and (max-width: 600px){
    .text-time{
        width: 30%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
@media only screen and (max-width: 550px){
    body{
        padding-left: 0px;
    }
    .swal2-modal{
        margin-top: -200px !important;
    }
}
@media (min-width: 958px) {
    body {
        padding: 0 0 0 300px;
    }
    .offcanvas-sm{
        display: block;
    }
    .navmenu {
        padding-top: 0;
    }
    .navbar {
        display: none !important; /* IE8 fix */
    }
}