{% extends 'templates/admin.twig' %}
{% block titulo %}{% endblock %}
{% block css %}
    <style>
        #inputMessage{
            max-width: 100%;
            min-width: 100%;
        }
    </style>
{% endblock  %}
{% block contenido %}
    <form action="{{ base_url() }}/admin/global" method="post" role="form">
    	<legend>Envío de mensaje global</legend>
        {% include 'templates/flash.twig' %}
    	<div class="form-group {% if errors.inputMessage %}has-error{% endif %}">
    		<label for="inputMessage">Mensaje:</label>
            <textarea name="inputMessage" id="inputMessage" cols="30" rows="10" class="form-control">{% if errors.inputMessage %}{{ old.inputMessage }}{% endif %}</textarea>
            <span class="helper-block">{{ errors.inputMessage | first }}</span>
    	</div>
        {{ csrf.field | raw }}
    	<button type="submit" class="btn btn-primary"><i class="fa fa-comment-o"></i> Enviar mensaje</button>
    </form>
{% endblock %}
{% block js %}
{% endblock %}